*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  font-weight: 300;
  display: flex;
  flex-direction: row;
  height: 50rem;
}
.page-footer {
  background-color: #6a4b46;
  color: cornsilk;
  width: 100%;
  height: 2.5rem;
  margin-top: 8rem;
  position: relative;
  bottom: 0;
}
.nav-item:active {
  font-weight: bold;
  border-bottom: 0.06rem solid black;
}
.navbar-brand {
  font-size: 1.9rem !important;
  color: #565387 !important;
}
.navbar {
  font-size: 1rem;
  background-color: #fff !important;
  border-bottom: 0.1rem solid whitesmoke;
}
.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.navbar a:hover {
  color: #3498db !important;
}
.nav-link {
  font-weight: bold;
}
.brand-name {
  color: #3498db;
}
.cata-image {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-right: 2rem;
}
.image1 {
  width: 40%;
  height: 30vh;
  margin-right: 1rem;
}
.image2 {
  width: 40%;
  height: 30vh;
  margin-right: 1rem;
}
.image3 {
  width: 30%;
  height: 30vh;
}
.main {
  margin: 2rem 0 2rem 2rem;
  text-transform: uppercase;
  text-shadow: 1.5px 1.5px 1.5px black;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.8rem;
}
.catalog-image {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-right: 2rem;
}
.image4 {
  width: 32%;
  height: 45vh;
  margin-right: 1rem;
}
.image5 {
  width: 32%;
  height: 45vh;
  margin-right: 0.8rem;
}

.image6 {
  width: 32%;
  height: 45vh;
  margin-right: 1rem;
}
.sidenav {
  width: 15rem;
  height:100%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  text-align: center;
}
.sidenav a, .dropdown-btn {
  padding: 0.6rem 0.8rem 0.6rem 0.16rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-bottom: 2px solid whitesmoke;
}
.sidenav a:hover, .dropdown-btn:hover {
  color: black;
}
.w3-sidebar {
  width: 20rem;
  height:46rem;
  font-size: 1.3rem;
  text-align: center;
  position: relative;
}
.main {
  margin-left: 2rem; 
  font-size: 1rem; 
  padding: 0rem 0.1rem;
}
.activevalue {
  background-color:white;
  color: black;
}
.dropdown-container {
  display: none;
  padding-left: 0.8rem;
}
.zmdi-long-arrow-down {
  float: right;
  padding-right: 0.8rem;
}
.card {
  width: 13rem;
  margin-bottom: 2rem;
  float: left;  
}
.customize {
  margin-top: 4rem;
}
.menu_disp {
  float: left;
  margin-top: 4rem;
}
.menu_disp1 {
  margin-right: 12rem;
}
.menu_disp2 {
  margin-right: 12rem;
}
.menu_disp3 {
  margin-right: 12rem;
}
.grid1 {
  margin-left: 6rem;
}
.grid2 {
  margin-left: 6rem;
}
.grid3 {
  margin-left: 6rem;
}
.menu_dispo {
  float: right;
  border-left: 0.1rem solid black;
}
.third-data {
  float: right;
  border-left: 0.2rem solid whitesmoke;
  position: relative;
  bottom: 0;  
}
.data_inline {
  width: 50rem;
  justify-content: center;
  margin-left: 8rem;
}
.data-list {
  justify-content: left;
}
.card-img-top{
   width: 5.8rem;
  height: 4rem;
}
.card1 {
    transition: all 0.4s cubic-bezier(0.175,0.885, 0, 1);
    background-color: #fff;
    width: 6rem;
    height: 8.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
}
.card-title1 {
  color: black;
  font-size: 0.8rem;
}
.cards1 {
  float: right;
  width: 6rem;
  height: 6rem;
}
.btn-primary1 {
  padding: 0.1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  margin-left: 0.3rem;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: #fff;
  background-color: #2d096e;
  outline: none;
  border: 0.01rem solid black;
  cursor: pointer;
  display:inline;
}
.data-lis {
  margin-top: 16rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.data-lis1 {
  margin-top: 2rem;
  margin-right: 2rem;
}
.inpu-fiel {
  width: 18rem;
}
.data-lis6 {
  background-color: greenyellow;
  color: white;
  width: 90%;
  height: 4rem;
  margin-top: 4rem;
  margin-left: 2rem;
  padding: 0.75rem;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
}
.data-lis7 {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  font-size: 0.9rem;
}
.data-lis8 {
  text-align: center;
}
.vl3 {
  border-bottom: 0.06rem solid black;
  width: 3.5rem;
  margin-right: 3rem;
  margin-top: 0.8rem;
  
}
.clicked-list {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid whitesmoke;
}
.clicked-list2 {
  margin-left: 2rem;
}
.clicked-list3 {
  margin-left: 2rem;
}
.cards {
  width: 100%;
  height: auto;
}
.card {
  margin: 1rem;
  transition: all 0.4s cubic-bezier(0.175,0.885, 0, 1);
  background-color: #fff;
  width: 12rem;
  border-radius: 1rem;
  box-shadow: 0rem 0.13rem 0.10rem -0.7rem rgba(0,0,0,0.1);
}
.card:hover {
  box-shadow: 0rem 0.30rem 0.18rem -0.8rem rgba(0,0,0,0.1);
  transform: scale(1.05,1.05);
}
.card-title {
  font-size: 1rem;
}
.btn-primary {
  margin: 0.1rem;
  padding: 0.2rem 0.4rem;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
  font-size: 0.5rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
  color:#fff;
  background-color: #2d096e;
  outline: none;
  border: 0.1rem solid black;
  cursor: pointer;
}
.for-delete {
  cursor: pointer;
  color: red !important;
  margin-left: 4rem;
  outline: none;
  font-size: 0.8rem;
  font-weight: 600;
}
.for-edit {
  margin-left: 7rem;
  font-size: 0.8rem;
  font-weight: 600;
}
@media(max-width:1400px) {
  html {
    font-size: 65%;
  }
}
@media(max-width:998px) {
  html {
    font-size: 45%;
  }
  .data-lis {
    display: flex;
    flex-direction: column;
  }
}
@media(max-width:768px) {
  html {
    font-size: 50%;
  }
  .data-lis {
    margin-left: 1rem;
    margin-right: 45rem;
  }
  .cards {
    float: left;
  }
  .w3-sidebar {
    margin-left: 35rem;
  }
}

@media(max-width:420px) { 
  html {
    font-size: 38%;
  }
  .w3-sidebar {
    margin-left: 35rem;
  }
}